.why {
  text-align: center;
  background: var(--gray);
  padding: 8rem 0;
  .copy {
    margin-bottom: 6.4rem;
  }
  &__item {
    .copy {
      margin-bottom: 3.2rem;
    }
    img {
      margin-bottom: 2.4rem;
    }
  }
}
