.why {
  text-align: center;
  background: var(--gray);
  padding: 8rem 0;
  .copy {
    margin-bottom: 6.4rem;
  }
  &__item {
    .copy {
      margin-bottom: 3.2rem;
    }
    img {
      margin-bottom: 2.4rem;
    }
  }

  @media screen and (min-width: 768px) {
    text-align: left;
    .why__grid{
      display: grid;
      grid-column-gap: 1.6rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1024px) {
    .why__grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }

}
