@charset "UTF-8";
.header {
  padding: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
  background: white;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /*Para que tome el tamaño*/
}

.header .button {
  display: none;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .button {
    display: inline;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__button {
  width: 4rem;
  height: 4rem;
  background: url("../../static/img/icon-hamburger.svg") no-repeat center;
}

.menu .menu__item:first-of-type a {
  border-radius: .8rem .8rem 0 0;
  padding-top: 3.2rem !important;
}

.menu .menu__item:last-of-type a {
  border-radius: 0 0 .8rem .8rem;
  padding-bottom: 3.2rem !important;
}

.menu a {
  text-decoration: none;
  color: var(--darkBlue);
  padding: 0 1.6rem;
  cursor: pointer;
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked ~ .menu__button {
  background: url("../../static/img/icon-close.svg") no-repeat center;
}

.menu__checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1.6em;
  left: 0rem;
  right: 0rem;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--darkBlue)), color-stop(90%, transparent));
  background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);
}

.menu__checkbox:checked ~ .menu a {
  background: white;
  padding: 0.8rem 1.6rem;
  display: block;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .menu__button {
    display: none;
  }
}

.hero {
  text-align: center;
  padding-bottom: 8rem;
}

.hero .copy {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.hero__imageSrc {
  display: none;
}

.hero__image {
  height: 30rem;
  margin: 0 calc(-1 * var(--wrapperSpace));
  background: url("../../static/img/image-mockups.png") center bottom no-repeat, url("../../static/img/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../../static/img/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .hero__content {
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 550px;
        grid-template-areas: "description image";
    -ms-grid-columns: 370px 1fr;
        grid-template-columns: 370px 1fr;
  }
  .hero__imageSrc {
    display: none;
  }
  .hero__image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
    min-height: inherit;
    position: absolute;
    width: 600px;
    left: 70px;
    top: 0;
    height: 768px;
    background: url("../../static/img/image-mockups.png") left bottom no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero__imageSrc {
    display: block;
    position: relative;
    top: -150px;
    z-index: 1;
  }
  .hero__image {
    background: none;
    left: 150px;
    right: 0;
    top: 0;
  }
}

.why {
  text-align: center;
  background: var(--gray);
  padding: 8rem 0;
}

.why .copy {
  margin-bottom: 6.4rem;
}

.why__item .copy {
  margin-bottom: 3.2rem;
}

.why__item img {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why .why__grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1.6rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .why .why__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.latestArticles {
  background: var(--lightGray);
  padding: 8rem 0;
}

.latestArticles .title__h1 {
  text-align: center;
  margin-bottom: 2.4rem;
}

.latestArticles__grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 3.2rem;
}

.latestArticles__item {
  border-radius: 0.8rem;
  overflow: hidden;
  background: var(--white);
}

.latestArticles__item-content {
  padding: 2.4rem;
}

.latestArticles__item small {
  color: var(--grayBlue);
  margin-bottom: 1.6rem;
  display: block;
}

.latestArticles__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .latestArticles .title__h1 {
    text-align: left;
  }
  .latestArticles__item-content {
    padding: 2.4rem;
  }
  .latestArticles__grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 3.2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .latestArticles__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 3.2rem 0;
  text-align: center;
}

.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 3.2rem;
}

.footer__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25px)[5];
      grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: var(--gray);
  margin-bottom: 3.2rem;
}

.footer__copyright {
  color: var(--grayblue);
  margin-top: 3.2rem;
}

@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 8rem;
    -ms-grid-columns: 200px 1fr 400px;
        grid-template-columns: 200px 1fr 400px;
        grid-template-areas: "logo links button" "social links copyright";
  }
  .footer__links {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: links;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: left;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin: initial;
  }
  .footer__social {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: social;
  }
  .footer__button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: button;
    text-align: right;
  }
  .footer__copyright {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: copyright;
    text-align: right;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayblue: hsl(233, 8%, 62%);
  --gray: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --wrapperSpace: 2.4rem;
}

.is-hidden {
  display: none;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--grayblue);
  line-height: 1.5;
  overflow-x: hidden;
}

.wrapper {
  padding: 0 2.4rem;
  max-width: 1115px;
  margin: auto;
  width: 100%;
}

.title {
  border: 1px solid green;
}

.title__h1 {
  font-size: 4rem;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0.8rem;
}

.title__h2 {
  font-size: 4rem;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
}

.title__h3 {
  font-size: 4rem;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}

.button {
  padding: 1rem 2.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--limeGreen)), to(var(--brightCyan)));
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
  border-radius: 3rem;
  color: var(--white);
  border: none;
}

.icon__facebook {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/img/icon-facebook.svg");
}

.icon__youtube {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/img/icon-youtube.svg");
}

.icon__twitter {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/img/icon-twitter.svg");
}

.icon__pinterest {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/img/icon-pinterest.svg");
}

.icon__instagram {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/img/icon-instagram.svg");
}
/*# sourceMappingURL=style.css.map */